<div class="parent">
    <div class="parent-top">
        <div class="left-aligned-text">
        <h2 id="welcome-text">Welcome to the Matrix</h2>
        <h1 id="name-text">Sanjay's Journey in Code</h1>
        <h2>as a 
            <span id="designation-text" style="color: aqua;"></span>
        </h2>
        <p id="myinfo-text">Hello, I'm Sanjay Yadav, a passionate software engineer with a wealth of experience and expertise. I specialize in creating innovative solutions and collaborating on impactful projects. Explore my journey in the world of programming, discover my projects, and learn more about the technologies I love to work with."</p>
        </div>
        <div class="profile-section">
        <!-- <div class="profile-image-border"> -->
            <div class="'profile-image">
            <img src="../../../assets/profile-image.png"/>
            </div>
        <!-- </div> -->
        </div>
    </div>
</div>
