<div class="parent">
  <div class="parent-left">
      <h2>What I know</h2>
  </div>
  <!-- <div class="languages-section">
    <div class="cards-container">
      <img src="../../../assets/frontend_logo.png"/>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Frontend</h5>
          <div class="row">
            <div class="col-auto skill-container">HTML</div>
            <div class="col-auto skill-container">CSS</div>
            <div class="col-auto skill-container">JavaScript</div>
            <div class="col-auto skill-container">React</div>
            <div class="col-auto skill-container">Angular</div>
            <div class="col-auto skill-container">React Native</div>
          </div>
        </div>
      </div>
    </div>
    <div class="cards-container">
      <img src="../../../assets/backend1_logo.png"/>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Backend</h5>
          <div class="row">
            <div class="col-auto skill-container">Nodejs</div>
            <div class="col-auto skill-container">NESTJS</div>
            <div class="col-auto skill-container">Express.js</div>
          </div>
        </div>
      </div>
    </div>
    <div class="cards-container">
      <img src="../../../assets/database_logo.png"/>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Databases</h5>
          <div class="row">
            <div class="col-auto skill-container">MongoDB</div>
            <div class="col-auto skill-container">MySQL</div>
          </div>
        </div>
      </div>
    </div>
    <div class="cards-container">
      <img src="../../../assets/devops_logo.png"/>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Devops</h5>
          <div class="row">
            <div class="col-auto skill-container">AWS</div>
            <div class="col-auto skill-container">AZure</div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="cards-container">
      <div class="card">
          <div class="card-body">
            <!-- <img src="../../../assets/frontend_logo.png"/> -->
            <h5 class="card-title">Frontend</h5>
            <div class="row">
              <div class="col-auto skill-container-thinborder">HTML</div>
              <div class="col-auto skill-container-thinborder">CSS</div>
              <div class="col-auto skill-container-thickborder">JavaScript</div>
              <div class="col-auto skill-container-thinborder">React</div>
              <div class="col-auto skill-container-thickborder">React Native</div>
              <div class="col-auto skill-container-thickborder">Angular</div>
            </div>
          </div>
      </div>
      <div class="card">
          <div class="card-body">
            <!-- <img src="../../../assets/backend1_logo.png"/> -->
            <h5 class="card-title">Backend</h5>
            <div class="row">
              <div class="col-auto skill-container-thickborder">Node JS</div>
              <div class="col-auto skill-container-thickborder">Express JS</div>
              <div class="col-auto skill-container-thinborder">NEST JS</div>
            </div>
          </div>
      </div>
      <div class="card">
          <div class="card-body">
            <!-- <img src="../../../assets/database1_logo.png"/> -->
            <h5 class="card-title">Databases</h5>
            <div class="row">
              <div class="col-auto skill-container-thickborder">MongoDB</div>
              <div class="col-auto skill-container-thinborder">MySQL</div>
            </div>
          </div>
      </div>
      <div class="card">
          <div class="card-body">
            <!-- <img src="../../../assets/devops_logo.png" style="align-self: center;"/> -->
            <h5 class="card-title">Devops</h5>
            <div class="row">
              <div class="col-auto skill-container-thickborder">Git</div>
              <div class="col-auto skill-container-thickborder">AWS</div>
              <div class="col-auto skill-container-thinborder">Azure</div>
              <div class="col-auto skill-container-thinborder">Serverless</div>
            </div>
          </div>
      </div>
      <div class="card">
        <div class="card-body">
          <!-- <img src="../../../assets/devops_logo.png" style="align-self: center;"/> -->
          <h5 class="card-title">Tools</h5>
          <div class="row">
            <div class="col-auto skill-container-thickborder">Jaspersoft Server</div>
            <div class="col-auto skill-container-thickborder">Android Studio</div>
            <div class="col-auto skill-container-thinborder">XCode</div>
            <div class="col-auto skill-container-thinborder">Jira</div>
            <div class="col-auto skill-container-thinborder">Notion</div>
          </div>
        </div>
    </div>
  </div>
</div>

